################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Items.Api/.vs/Items.Api/v15/Server/sqlite3
/Items.Authentication/.vs/Items.Authentication/v15
/DotenetCoreMicroService
