<div class="card">
  <div class="card-body">
    <form>
      <div class="form-group">
        <label class="col-md-4">Driver Frist Name</label>
        <input type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label class="col-md-4">Driver Last Name </label>
        <input type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label class="col-md-4">Driver NIC Number </label>
        <input type="text" class="form-control" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Add Driver</button>
      </div>
    </form>
  </div>
</div>